[submodule "JonMircha_React-Routes"]
	path = JonMircha_React-Routes
	url = https://github.com/Auchan22/JonMircha_React-Routes.git
	
[submodule "JonMircha_Memorizacion"]
	path = JonMircha_Memorizacion
	url = https://github.com/Auchan22/JonMircha_Memorizacion.git
